<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="{% if page.is-post %}post-template{% else %}home-template{% endif %}">

    {% unless page.is-post %}
    {% include header.html %}
    {% endunless %}

    <main class="content" role="main">
      {{ content }}
    </main>

    {% include footer.html %}

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

    <script type="text/javascript" src="/assets/js/main.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.7/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</body>
</html>
